# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Protocols
*.pyi

# Unit test / coverage
.coverage
.coverage.*
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis/
.tox/
.gradle/
.idea/

# Editors
.vscode/
.history/
*.sublime-project
*.sublime-workspace
.dm/
.cache/
.project
.settings
.buildpath
.cproject

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pip freeze requirements
requirements.txt

# Windows
Thumbs.db
ehthumbs.db

# macOS
.DS_Store
.Trashes
*.pyc.bak
*.orig
*.un~

# specific for the robot framework
*.rfs

# Jupyter Notebook
.ipynb_checkpoints

#poetry
poetry.lock
pyproject.toml
.python-version

#pyenv
.python-version
